/* ============================================== */
/* Global */ 
/* ============================================== */

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus { 
    border: none;
    outline: none;
}

* {
    scrollbar-color: #aaaaff #111111;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
      width: 10px;
      height: 10px;
}

::-webkit-scrollbar-track {
      background: transparent; 
}

::-webkit-scrollbar-thumb:horizontal {
      background: #aaaaff; 
    border-left: 2px solid #111111;
    border-right: 2px solid #111111;
}

::-webkit-scrollbar-thumb:vertical {
      background: #aaaaff; 
    border-top: 2px solid #111111;
    border-bottom: 2px solid #111111;
}

::-webkit-scrollbar-thumb:hover {
      background: #aaaaff; 
}

::-webkit-scrollbar-button:horizontal {
    background: #aaaaff;
    width: 5px;
}

::-webkit-scrollbar-button:vertical {
    background: #aaaaff;
    height: 5px;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    overflow: auto;
    scrollbar-color: #5f6681 #051039;
    scrollbar-width: auto;
}

body {
    background-color: #051039;
    font-family: arial;
    font-size: 16px;
    text-align: center;
}

button {
    background-color: transparent;
    border: none;
    padding: 5px 10px 5px 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

button:disabled,
button:disabled:hover {
      border: 1px solid #aaaaaa;
      background-color: transparent;
      cursor: not-allowed;
}

input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-text-fill-color: white ;
    -webkit-box-shadow: 0 0 0 30px #051039 inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

input[readonly] {
    cursor: pointer;
}

select {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 5px 10px 5px 10px;
    font-family: arial;
    font-size: 16px;
    color: white;
    width: 100%;
    resize: none;
    cursor: auto;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}

a {
    text-decoration: none;
}

b {
    color: cyan;
    word-break: break-word;
}

span {
    word-break: break-all;
}

table, th, td {
    border: 2px solid #2f3959;
}

table {
    width: 100%;
      border-collapse: collapse;
}

th, td {
    padding: 5px 10px;
}

tr {
    cursor: pointer;
}

tr:hover {
    background-color: #512731;
}

thead tr:first-child {
    background-color: #2f3959;
}

/* ============================================== */
/* Access */
/* ============================================== */

.Access1 {
    font-family: Arial;
    text-align: center;
    font-size: 0px;
    padding: 5px;
}

.Access2 {
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    vertical-align: middle;
    padding: 5px 5px;
    font-size: 16px;
    margin: 5px 0px;
}

.Access2:hover {
    text-decoration: underline;
}

.Access3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
    font-size: 18px;
}

/* ============================================== */
/* Animate */
/* ============================================== */

.AnimateShow {
    animation-name: AnimateShow;
    animation-duration: 0.4s
    -webkit-animation-name: AnimateShow;
    -webkit-animation-duration: 0.4s;
    -moz-animation-name: AnimateShow;
    -moz-animation-duration: 0.4s;
    -o-animation-name: AnimateShow;
    -o-animation-duration: 0.4s;
}

@keyframes AnimateShow {
    from {top:-400px; opacity:0;}
    to {top:0; opacity:1}
}

@-webkit-keyframes AnimateShow {
    from {top:-400px; opacity:0;} 
    to {top:0; opacity:1;}
}

@-moz-keyframes AnimateShow {
    from {top:-400px; opacity:0;} 
    to {top:0; opacity:1;}
}

@-o-keyframes AnimateShow {
    from {top:-400px; opacity:0;} 
    to {top:0; opacity:1;}
}

.AnimateHide {
    animation-name: AnimateHide;
    animation-duration: 0.4s
    -webkit-animation-name: AnimateHide;
    -webkit-animation-duration: 0.4s;
    -moz-animation-name: AnimateHide;
    -moz-animation-duration: 0.4s;
    -o-animation-name: AnimateHide;
    -o-animation-duration: 0.4s;
}

@keyframes AnimateHide {
    from {top:0; opacity:1}
    to {top:-400px; opacity:0}
}

@-webkit-keyframes AnimateHide {
    from {top:0; opacity:1}
    to {top:-400px; opacity:0}
}

@-moz-keyframes AnimateHide {
    from {top:0; opacity:1}
    to {top:-400px; opacity:0}
}

@-o-keyframes AnimateHide {
    from {top:0; opacity:1}
    to {top:-400px; opacity:0}
}

/* ============================================== */
/* Background */ 
/* ============================================== */

.Background1 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    min-height: 300px;
    z-index: -1;
        
    background-image: url("/data/img/defaults/top_masque.png"),
    url("/data/img/defaults/fond.jpg");
    background-position: center top, left top;
    background-repeat: no-repeat, no-repeat;    
    background-size: auto 85%, 100% 100%;    
    
    border: 10px solid transparent;
    border-image: url("/data/img/defaults/border.png") 30 round;
    -webkit-border-image: url("/data/img/defaults/border.png") 30 round; 
    -moz-border-image: url("/data/img/defaults/border.png") 30 round; 
    -o-border-image: url("/data/img/defaults/border.png") 30 round;
}

.Background2 {
    position: absolute;
    top: 300px;
    bottom: 300px;
    left: 0px;
    right: 0px;
    z-index: -1;
    
    background-image: url("/data/img/defaults/middle.gif");
    background-position: center center;
    background-repeat: repeat;    
    background-size: auto;
}

.Background3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 300px;
    z-index: -1;

    background-image: url("/data/img/defaults/footer.jpg");
    background-position: left top;
    background-repeat: no-repeat;    
    background-size: 100% 100%;    
    
    border: 10px solid transparent;
    border-image: url("/data/img/defaults/border.png") 30 round;
    -webkit-border-image: url("/data/img/defaults/border.png") 30 round; 
    -moz-border-image: url("/data/img/defaults/border.png") 30 round; 
    -o-border-image: url("/data/img/defaults/border.png") 30 round;
}

/* ============================================== */
/* Bars */
/* ============================================== */

.Bars1 {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    font-size: 25px;
    font-family: Akronim;
    color: white;
    padding: 0 10px 0 10px;
    display: none;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

/* ============================================== */
/* Block */ 
/* ============================================== */

.Block1 {
    padding: 10px;
}

.Block2 {
    background-color: rgba(35, 47, 87, 0.9);
}

.Block3 {
    background-color: #2f3959;
    color: #bf8e3a;
    padding: 20px 10px;
}

.Block4 {
    color: #89a830;
    word-break: break-word;
}

.Block5 {
    padding: 5px;
}

.Block6 {
    text-align: left;
    font-size: 0px;
}

.Block7 {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding: 5px;
}

.Block8 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
}

.Block8:hover {
    text-decoration: underline;
}

.Block8.Active {
    background-color: #051039;
}

.Block9 {
    padding: 5px;
    text-align: left;
}

.Block10 {
    border-bottom: 5px solid #051039;
    color: #f67b20;
    padding-bottom: 5px;
}

.Block11 {
    padding: 10px 0px;
    overflow: auto;
    scrollbar-color: #5f6681 #051039;
    scrollbar-width: auto;
}

.Block12 {
    height: 400px;
}

.Block13 {
    background-color: #051039;
    padding: 10px;
}

.Block14 {
    border: 2px solid #2f3959;
    height: 400px;
}

.Block15 {
    max-width: 800px;
    margin: auto;
}

.Block16 {
    position: relative;
}

.Block17 {
    position: absolute;
    top: 0px;
    right: 10px;
}

.Block18 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    cursor: pointer;
}

.Block18:hover {
    text-decoration: underline;
}

.Block19 {
    display: none;
}

.Block19.Show {
    display: block;
    border: 1px solid #4f5979;
    position: absolute;
    top: 100%;
    right: 0px;
    width: 300px;
    max-height: 400px;
    background-color: #051039;
    overflow: auto;
    z-index: 1;
}

.Block20 {
    color: #eeeeee;
    padding: 5px 10px;
    display: block;
    border-bottom: 1px solid #2f3959;
    cursor: pointer;
    text-align: left;
    position: relative;
}

.Block20:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.Block20.Active,
.Block20.Active:hover {
    background-color: #2f5959;
}

.Block21 {

}

.Block22 {
    display: none;
}

.Block22.Show {
    display: block;
    padding-left: 20px;
}

.Block23 {
    height: 395px;
    padding: 10px;
    overflow: auto;
}

.Block24 {

}

.Block25 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

/* ============================================== */
/* Bullet */
/* ============================================== */

.Bullet1 {
    margin-left: 20px;
    position: relative;
}

.Bullet2 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.Bullet3 {
    margin-left: 25px;
}

/* ============================================== */
/* Code */ 
/* ============================================== */

.Code1 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 20px;
}

/* ============================================== */
/* Form */ 
/* ============================================== */

.Form1 {
    padding: 10px;
}

.Form2 {
    position: relative;
    margin: 10px 0px;
}

.Form3 {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    line-height: 30px;
    padding: 0px 10px;
}

.Form4 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 200px;
    height: 30px;   
}

.Form5 {
    border: 1px solid #3a405b;
    height: 100%;   
    width: 100%;
    padding: 5px 10px;
}

.Form6 {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    font-size: 12px;
    color: cyan;
}

.Form7 {
    display: inline-block;
    vertical-align: middle;
    color: cyan;
    cursor: pointer;
}

/* ============================================== */
/* Forms */
/* ============================================== */

.Forms1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: auto;
    text-align: left;
}

.Forms2 {
    background-color: #051039;
    margin: auto;
    max-width: 500px;
    position: relative;
}

.Forms3 {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.Forms4 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 35px 10px 10px;
    font-family: Anton;
    font-size: 25px;
}

.Forms5 {
    padding: 10px;
}

.Forms6 {
    margin-bottom: 10px;
}

.Forms7 {
    padding: 10px 0px;
}

.Forms8 {
    text-align: right;
    font-size: 0px;
    padding-top: 10px;
}

.Forms9 {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 10px;
    line-height: 30px; 
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.Forms9:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.Forms9:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.Forms10 {
    margin: 5px 0px;
    position: relative;
}

.Forms11 {
    background-color: rgba(255, 255, 255, 0.2);
    min-width: 150px; 
    line-height: 30px;   
    padding: 0px 10px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.Forms12 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 30px;   
    margin-left: 150px;
}

.Forms13 {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 30px;   
    margin-left: 150px;
}

.Forms14 {
    border: 1px solid #3A405B;
    height: 100%;   
    width: 100%;
    padding: 5px 10px;
    padding-right: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.Forms15 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
    cursor: pointer;
}

.Forms16 {
      display: none;
}

.Forms16.Show {
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 5px;
    transform: translate(0, -50%);
    border-radius: 5px;
    background-size: cover;
    width: 100px;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.Forms17 {
    display: none;
}

.Forms17.Show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    background-color: #051039;
    border: 1px solid rgba(255, 255, 255, 0.4);
    max-height: 400px;
    overflow: auto;
    z-index: 1;
}

.Forms18 {
    position: relative;
    line-height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    padding-left: 10px;
}

.Forms18:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.Forms18.Active {
    background-color: #2f5959;
}

.Forms19 {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: cover;
    z-index: 1;
}

.Forms20 {
    border: 1px solid #3A405B;
    height: 100%;   
    width: 100%;
    padding: 5px 10px;
}

.Forms21 {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    z-index: 1;
}

.Forms22 {
      display: none;
}

.Forms22.Show {
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 5px;
    transform: translate(0, -50%);
    border-radius: 5px;
    background-color: #051039;
    width: 100px;
    line-height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 50px;
    z-index: 1;
}

.Forms23 {
    display: none;
}

.Forms23.Show {
    display: block;
    margin-left: 20px;
}

.Forms24 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

.Forms25 {
    background-color: rgba(150, 150, 150, 0.5);
    position: relative;
    line-height: 30px;
    border-bottom: 1px solid rgba(127, 127, 127, 0.5);
    cursor: pointer;
    padding-left: 10px;
    color: #808080;
}

.Forms26 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    color: #808080;
}

.Forms27 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 150px;
    height: 200px;   
}

.Forms28 {
    border: 1px solid #3A405B;
    height: 100%;   
    width: 100%;
    font-family: courier;
}

/* ============================================== */
/* Formula */ 
/* ============================================== */

.Formula1 {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    display: inline-block;
    min-width: 100px;
}

/* ============================================== */
/* Footer */ 
/* ============================================== */

.Footer1 {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    bottom: 35px;
    left: 0px;
    right: 0px;
}

.Footer2 {
    background-color: rgba(255, 255, 255, 0.2);
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    margin: 5px 5px 20px 5px;
}

/* ============================================== */
/* Graduation */
/* ============================================== */

.Graduation1 {
    position: relative;
    font-size: 0px;
}

.Graduation2 {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
}

.Graduation3 {
    margin-left: 50px;
    font-size: 18px;
    font-family: Archivo Narrow;
}

/* ============================================== */
/* Html */ 
/* ============================================== */

.Html1 {
    border: 1px solid transparent;
    position: relative;
}

.Html2 {
    background-color: #051039;
    max-width: 1000px;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 250px;
    min-height: 150px;

    border: 10px solid transparent;
    border-image: url("/data/img/defaults/border.png") 30 round;
    -webkit-border-image: url("/data/img/defaults/border.png") 30 round; 
    -moz-border-image: url("/data/img/defaults/border.png") 30 round; 
    -o-border-image: url("/data/img/defaults/border.png") 30 round;
}

/* ============================================== */
/* Img */ 
/* ============================================== */

.Img1 {
    overflow: auto;
}

/* ============================================== */
/* Line */
/* ============================================== */

.Line1 {
    text-align: center;
    position: relative;
    font-size: 0px;
}

.Line2 {
    background-color: #051039; 
    height: 5px;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translate(0, -50%);
    border: none;
}

.Line3 {
    background-color: #051039; 
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.Line4 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/* ============================================== */
/* Link */
/* ============================================== */

.Link1 {
    padding-left: 20px;
}

.Link2 {
    padding-right: 10px;
    color: cyan;
}

.Link3 {
    color: cyan;
}

.Link3:hover {
    text-decoration: underline;
}

/* ============================================== */
/* Loader */
/* ============================================== */

.Loader1 {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 10px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: auto;
    text-align: left;
}

.Loader2 {
    background-color: #051039;
    margin: auto;
    max-width: 500px;
    position: relative;
    padding: 10px 0px;
}

.Loader3 {
      text-align: center;
      padding: 20px;
}

.Loader4 {
      display: inline-block;
}

.Loader5 {
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      animation: LoaderRing 2s linear infinite;
}

.Loader5:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(255,255,255,.3);
}

.Loader6 {
    color: #f0f0f0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 120px;
    text-align: center;
    animation: LoaderMsg 3s ease-in-out infinite;
}

@keyframes LoaderRing {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

@keyframes LoaderMsg {
    50% {
        color: #5f5f5f;
    }
}

/* ============================================== */
/* Log */
/* ============================================== */

.Log1 {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 10px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: auto;
    text-align: left;
}

.Log2 {
    background-color: #051039;
    margin: auto;
    max-width: 500px;
    position: relative;
}

.Log3 {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.Log4 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 35px 10px 10px;
    font-family: Anton;
    font-size: 25px;
}

.Log5 {
    padding: 10px;
}

.Log6 {
    margin-bottom: 10px;
}

.Log7 {
    overflow: auto;
    padding: 10px 0px;
}

.Log8 {
    text-align: right;
    font-size: 0px;
    padding-top: 10px;
}

.Log9 {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 10px;
    line-height: 30px; 
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.Log9:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.Log9:active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* ============================================== */
/* Menu */ 
/* ============================================== */

.Menu1 {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: left;
    font-size: 0px;
    position: relative;
    line-height: 45px;
}

.Menu2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-family: arial;
    position: relative;
}

.Menu3 {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;
}

.Menu4 {
    background-color: cyan;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
}

.Menu5  {
    display: inline-block;
    vertical-align: middle;
    color: cyan;
    font-size: 25px;
    font-family: Akronim;
    color: cyan;
}

.Menu6  {
    display: inline-block;
    position: relative;
}

.Menu7  {
    border: 1px solid #4f5979;
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #051039;
    z-index: 1;
    width: 300px;
    max-height: 300px;
    overflow: auto;
}

.Menu6:hover .Menu7 {
    display: block;
}

.Menu8 {
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    padding: 0px 10px;
    vertical-align: middle;
    font-size: 16px;
    font-family: arial; 
}

.Menu10:hover .Menu8 {
    border-bottom: 5px solid #89a830;
}

.Menu8.Active,
.Menu10:hover .Menu8.Active {
    border-bottom: 5px solid #aaaafa;
}

.Menu9  {
    position: relative;
}

.Menu10  {
    display: block;
    border-bottom: 1px solid #2f3959;
    line-height: 25px;
}

.Menu10:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.Menu11 {
    display: none;
}

.Menu11.Show {
    display: block;
    background-color: #051039;
    margin-left: 20px;
}

.Menu12 {
    border-bottom: 1px solid #2f3959;
    position: relative;
    cursor: pointer;
    line-height: 25px;
}

.Menu12:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.Menu6:hover .Menu12.Active {
    background-color: #2f5959;
}

.Menu13 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.Menu14 {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: inline-block;
    padding: 0px 10px;
    line-height: 35px;
    vertical-align: middle;
}

.Menu2:hover .Menu14 {
    border-bottom: 5px solid #89a830;
}

.Menu2.Active .Menu14 {
    border-bottom: 5px solid #f67b20;
}

.Menu15 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    z-index: 1;
}

.Menu16  {
    display: none;
    border-bottom: 1px solid #2f3959;
    line-height: 25px;
}

.Menu16:hover .Menu8 {
    border-bottom: 5px solid #89a830;
}

/* ============================================== */
/* Parallax */
/* ============================================== */

.Parallax1 {
    position: relative;
    text-align: center;
}

.Parallax2 {
    /* background-image: url("/data/img/defaults/binary.png"); */
    min-height: 500px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
}

.Parallax1.NoScroll .Parallax2 {
    background-attachment: scroll;
}

.Parallax3 {
    background-color: #051039;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 40px;
    margin-top: -20px; 
    opacity: 0.8;
}

.Parallax4 {
    background-color: #111;
    color: #fff;
    padding: 18px 10px;
    font-size: 25px;
    display: inline-block;
    font-family: Anton;
    letter-spacing: 5px;
    margin-top: -20px; 
}

.Parallax5 {
    /* background-color: #803300; */
    position: relative;
    min-height: 50px;
    font-size: 20px;
    color: white;
    padding: 10px;
    font-family: Archivo Narrow;
    text-align: left;
}

/* ============================================== */
/* Pdf */
/* ============================================== */

.Pdf1 {
    font-size: 0px;
}

.Pdf2 {
    width: 100%;
    height: 100vh;
}

/* ============================================== */
/* Section */
/* ============================================== */

.Section1 {
    max-width: 800px;
    margin: auto;
}

.Section2 {
    padding: 0px 10px;
}

.Section3 {
    background-color: rgba(35, 47, 87, 0.9);
}

.Section4 {
    background-color: #2f3959; /* L2  5f6681*/
    color: #bf8e3a;
    padding: 20px 10px;
    text-align: center;
}

.Section5 {
    color: #89a830;
    word-break: break-word;
}

.Section6 {
    padding: 10px;
    text-align: left;
    word-break: break-word;
}

/* ============================================== */
/* Skill */
/* ============================================== */

.Skill1 {
    position: relative;
    font-size: 0px;
}

.Skill2 {
    background-color: rgba(255, 255, 255, 0.2);
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    font-size: 20px;
}

.Skill3 {
    display: inline-block;
    font-size: 14px;
    position: absolute;
    top: 45px;
    left: 20px;
    transform: translate(-50%, 0);
    font-weight: bold;
}

.Skill4 {
    margin-left: 50px;
    font-size: 16px;
}

/* ============================================== */
/* Summary */
/* ============================================== */

.Summary1 {
    padding-left: 20px;
}

.Summary2 {
    padding-right: 10px;
    color: cyan;
}

.Summary3 {
    color: cyan;
}

.Summary3:hover {
    text-decoration: underline;
}

.Summary4 {
    padding-left: 20px;
}

.Summary5 {
    padding-right: 10px;
    color: cyan;
}

.Summary6 {
    color: cyan;
}

.Summary6:hover {
    text-decoration: underline;
}

.Summary7 {
    padding-left: 20px;
}

.Summary8 {
    padding-right: 10px;
    color: cyan;
}

.Summary9 {
    color: cyan;
}

.Summary9:hover {
    text-decoration: underline;
}

/* ============================================== */
/* Table */
/* ============================================== */

.Table1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: auto;
    text-align: left;
}

.Table2 {
    background-color: #051039;
    margin: auto;
    max-width: 500px;
    position: relative;
}

.Table3 {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.Table4 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 35px 10px 10px;
    font-family: Anton;
    font-size: 25px;
}

.Table5 {
    padding: 10px;
}

.Table6 {
    margin-bottom: 10px;
}

.Table7 {
    overflow: auto;
    padding: 10px 0px;
}

.Table8 {
    text-align: right;
    font-size: 0px;
    padding-top: 10px;
}

.Table9 {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 10px;
    line-height: 30px; 
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.Table9:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.Table9:active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* ============================================== */
/* Text */
/* ============================================== */

.Text1 {
    font-size: 0px;
    position: relative;
}

.Text2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.Text3 {
    font-size: 20px;
    margin-left: 50px;
}

.Text4 {
    text-align: center;
}

.Text5 {
    position: relative;
    display: inline-block;
    padding: 2px 10px;
}

.Text6 {
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    font-size: 20px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.Text7 {
    display: inline-block;
    font-family: allan;
    font-size: 14px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 0);
}

/* ============================================== */
/* Title */
/* ============================================== */

.Title1 {
    font-weight: normal;
}

.Title2 {
    background-color: #3a405b;
    display: inline-block;
    vertical-align: middle;
    font-family: arial;
    font-size: 18px;
    color: #bf8e3a;
    padding: 10px;
}

.Title3 {
    font-weight: bold;
}

.Title4 {
    display: inline-block;
    vertical-align: middle;
    font-family: arial;
    font-size: 18px;
    color: dodgerblue;
    padding: 10px;
}

/* ============================================== */
/* Tuto */
/* ============================================== */

.Tuto1 {
    text-align: center;
    font-size: 0px;
}

.Tuto2 {
    border: 2px solid #5c5c5c;
    display: inline-block;
    vertical-align: middle;
    width: 174px;
    height: 200px;
    margin: 6px;
    position: relative;
}

.Tuto2:hover {
    border: 2px solid #ffcc00;
}
    
.Tuto3 {
    background-color: #5c5c5c;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.Tuto4 {
    background-color: #333333;
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0px;
    right: 0px;
}

.Tuto5 {
    background-color: #ffcc00;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.Tuto6 {
    min-height: 12px;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translate(0, -50%);
    font-size: 30px;
}

.Tuto7 {
    min-height: 12px;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translate(0, -50%);
    font-family: Aclonia;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

.Tuto8 {
    min-height: 12px;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translate(0, -50%);
    font-family: arial;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    color: #555555;
}

/* ============================================== */
/* View */
/* ============================================== */

.View1 {
    text-align: center;
    background-color: rgba(35, 47, 87, 0.9);
    margin: 10px 10px 0px 10px;
}

.View2 {
    background-color: #2f3959; /* L2  5f6681*/
    color: #bf8e3a;
    padding: 20px 10px;
}

.View3 {
    padding: 5px;
    font-size: 0px;
}

.View4 {
    display: inline-block;
    margin: 5px;
    font-size: 0px;
}

.View5 {
    display: inline-block;
    margin: 5px;
    font-size: 20px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.View5.Facebook {
    background-color: #3b5998;
}

.View5.Linkedin {
    background-color: #0e76a8;
}

.View6 {
    background-color: #2f3959;
    display: inline-block;
    font-size: 14px;
    padding: 0px 10px;
    line-height: 25px;
}

.View7 {
    background-color: #3f4969;
    display: inline-block;
    font-size: 14px;
    padding: 0px 10px;
    line-height: 25px;
}

/* ============================================== */
/* Mobile */ 
/* ============================================== */

@media (max-width:1024px) {

}

/* ============================================== */

@media (max-width:960px) {
    /* ---------------------------------------------- */
    /* Bar */
    /* ---------------------------------------------- */
    
    .Bars1 {
        display: inline-block;
    }

    /* ---------------------------------------------- */
    /* Menu */
    /* ---------------------------------------------- */
    
    .Menu2 {
        display: none;
    }
    
    .RWD .Menu2 {
        display: block;
    }
    
    .Menu6 {
        display: none;
    }
    
    .RWD .Menu6 {
        display: block;
    }
    
    .RWD .Menu7 {
        position: relative;
        width: 100%;
        max-height: 100%;
    }
    
    .RWD .Menu7.Show {
        display: block;
    }
    
    .RWD .Menu6:hover .Menu7 {
        display: none;
    }
    
    .RWD .Menu6:hover .Menu7.Show {
        display: block;
    }
    
    .RWD .Menu10 {
        display: block;
    }
    
    .RWD .Menu10:hover {
        background-color: #051039;
    }
    
    .RWD .Menu12:hover {
        background-color: #051039;
    }
    
    .RWD .Menu6:hover .Menu12.Active {
        background-color: #051039;
    }
    
    .RWD .Menu13 {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-20px, -50%);
        z-index: 1;
    }
    
    .RWD .Menu15 {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
        z-index: 1;
    }
    
    .RWD .Menu16 {
        display: block;
    }
    
    /* ---------------------------------------------- */
}

/* ============================================== */
