/*===============================================*/
/* Common Style */
/*===============================================*/
/* QWidget */
QWidget {
    font-family: Arial;
    font-size: 14px;
    color: white;
    background-color: transparent;
    border: none;
}
/*===============================================*/
/* Global Style */
/*===============================================*/
/* QToolButton */
QToolButton {
    background-color: transparent;
    border: 1px solid transparent;
}
QToolButton:hover {
    background-color: rgba(255, 255, 255 , 0.2);
}
QToolButton:pressed {
    background-color: transparent;
}
/*-----------------------------------------------*/
/* QToolButton */
GModule QToolButton:hover {
    background-color: rgba(255, 255, 255 , 0.2);
    border-radius: 9px;
    width: 18px;
    height: 18px;
}
/*-----------------------------------------------*/
/* QToolButton */
GTitleBar QToolButton {
    background-color: transparent;
    border: 1px solid rgb(23, 23, 34);
}
GTitleBar QToolButton:hover {
    background: rgba(255, 255, 255, 0.2);
}
GTitleBar QToolButton:pressed {
    background-color: transparent;
}
/*-----------------------------------------------*/
/* QToolTip */
QToolTip {
    background-color: #343449;
    border: 1px solid #b9f7aa;
    color: gray;
    font-family: Arial;
    font-size: 12px;
}
/*-----------------------------------------------*/
/* QLabel */
GReadyVision QLabel {
    background-color: transparent;
    color: rgb(177, 177, 203);
    font-weight: normal;
    font-family : Impact;
    font-size: 18px;
}
/*-----------------------------------------------*/
/* QMenu */
QMenu {
    background-color: #343449;
    border: 1px solid gray;
    color: gray;
    padding: 4px 2px 4px 2px;
    font-family: Arial;
    font-size: 14px;
}
QMenu::item {
    padding: 2px 2px 2px 30px;
    margin: 0px 0px 0px 2px;
    border: 1px solid transparent;
    min-width: 100px;
}
QMenu::item:selected {
    background: rgba(1, 1, 1 , 0.4);
    border: 1px solid transparent;
}
/*-----------------------------------------------*/
/* QStatusBar */
QStatusBar {
    background: transparent;
    border: 1px solid transparent;
    font-family: Arial;
    font-size: 12px;
    color: gray;
}
QStatusBar::item {
    border: 1px solid red;
    border-radius: 3px;
}
/*-----------------------------------------------*/
/* QScrollBar */
QScrollBar:vertical {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #171722, stop:1 #171722);
    border: 1px solid gray;
    width: 18px;
    margin: 20px 0 20px 0;
}
QScrollBar::handle:vertical {
    background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0.5, y2:0, stop:0 #0d0846, stop:1 #ffffff);
    min-height: 15px;
}
QScrollBar::add-line:vertical {
    background-color: #171722;
    border: 1px solid gray;
    height: 15px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    background-color: #171722;
    border: 1px solid gray;
    height: 15px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical {
    border-color: #171722 #171722 gray #171722; 
    border-style: solid;
    border-width: 6px;
    width: 0px; 
    height: 0px;
    margin: -3px 0px 0px 0px;
}
QScrollBar::down-arrow:vertical {
    border-color: gray #171722 #171722 #171722; 
    border-style: solid;
    border-width: 6px;
    width: 0px; 
    height: 0px;
    margin: 0px 0px -3px 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background-color: none;
}
/*===============================================*/
/* Custom Style */
/*===============================================*/
/* GWorkspace */
GWorkspace {
    background-color: #343449;
    margin: 0px 0px 0px 0px;
}
/*-----------------------------------------------*/
/* GMenu */
GMenu {
    background-color: transparent;
    margin: 0px 0px 134px 8px;
    min-width: 24px;
    min-height: 20px;
}
/*-----------------------------------------------*/
/* GStatusBar */
GStatusBar {
    background-color: transparent;
    margin: 0px 174px 8px 24px;
    min-width: 20px;
    min-height: 20px;
}
/*-----------------------------------------------*/
/* GSection */
GSection {
    background-color: transparent;
    border: 1px solid #343449;
    margin: 0px 30px 0px 0px;
    min-width: 60px;
}
/*-----------------------------------------------*/
/* GModule */
GModule {
    background-color: #343449;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}
GModule:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
GModule[ModuleSelectFlag=true] {
    background-color: #4f2e24;
}
/*===============================================*/
