#================================================
# QMake
#================================================

/**/bin/
/**/build/
/**/*user
/**/qmake/Makefile*

#================================================
# Data
#================================================

/**/views.json
/**/messages.json
