#================================================
# Directory
#================================================

/**/build/
/**/debug/
/**/release/
/**/extract/

#================================================
# File
#================================================

/**/views.json
/**/messages.json
/**/qmake/Makefile*
/**/*user
/**/*pyc
/data/sitemaps/*xml
