#================================================
# Directory
#================================================

/**/build/
/**/debug/
/**/release/
/**/extract/
/**/vendor/
/**/Joomla/root/
/**/GDepot/
/**/.metadata/
/**/.settings/
/**/build/classes/
/**/WecContent/
/**/Servers/

#================================================
# File
#================================================

/**/views.json
/**/messages.json
/**/.classpath
/**/.project
/**/qmake/Makefile*
/data/sitemaps/*xml
/**/~$*

#================================================
# Extension
#================================================

/**/*pyc

#================================================
# Qt Creator
#================================================

/**/*qmake.stash
/**/*pro.user
/**/Makefile.Debug
/**/Makefile.Release

#================================================
# Keil µVision
#================================================

/**/*lst
/**/*obj
/**/*lnp
/**/*M51
/**/*uvgui.sabine
/**/*uvgui_sabine.bak
/**/*uvopt
/**/*uvproj.bak
/**/*LST
/**/*OBJ

#================================================
# Proteus
#================================================

/**/*pdsbak
/**/*pdsprj.carlpis.sabine.workspace
