#================================================
ErrorDocument 404 /php/error.php
DirectoryIndex index.php
#================================================
<IfModule mod_rewrite.c>
RewriteEngine on
#================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{ENV:GPROJECT_ENV} TEST
RewriteRule ^home/(.*)$ /home/?pageid=$1 [L,QSA]
#================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^readypad/(.*)$ webpad/code/?pageid=$1 [L,QSA]
#================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^readypad$ webpad/code/?pageid=home [L,QSA]
#================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/Tuto/(.*)$ $1/?Tuto=$2 [L,QSA]
#================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Connexion/(.*)$ Connexion/?action=$1 [L,QSA]
#================================================
</IfModule>
#================================================
# Redirection
#================================================
