#================================================
ErrorDocument 404 /php/error.php
DirectoryIndex index.php
#================================================
<IfModule mod_rewrite.c>
RewriteEngine on
#================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home/(.*)$ webroot/?pageid=$1 [L,QSA]
#================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home$ webroot/?pageid= [L,QSA]
#================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/Tuto/(.*)$ $1/?Tuto=$2 [L,QSA]
#================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Connexion/(.*)$ Connexion/?action=$1 [L,QSA]
#================================================
</IfModule>
#================================================
php_value memory_limit 30M
php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_execution_time 200
php_value max_input_time 200
#================================================
# Redirection
#================================================
RedirectPermanent /Tutoriels/Embedded_System/RaspberryPi/* /Tutoriels/Embedded_System/RaspberryPi/
RedirectPermanent /Tutoriels/PHP/ /Tutoriels/Web/PHP/
RedirectPermanent /Tutoriels/PHP/* /Tutoriels/Web/PHP/
RedirectPermanent /Tutoriels/Android/ /Tutoriels/Mobile/Android/
RedirectPermanent /Tutoriels/Android/* /Tutoriels/Mobile/Android/
RedirectPermanent /Tutoriels/Mobile/Android/Cours/Fragment_Replace/ /Tutoriels/Mobile/Android/
RedirectPermanent /Tutoriels/Java/ /Tutoriels/Software_Development/Java/
RedirectPermanent /Tutoriels/Java/* /Tutoriels/Software_Development/Java/
RedirectPermanent /Tutoriels/Cpp/ /Tutoriels/Software_Development/Cpp/
RedirectPermanent /Tutoriels/Cpp/* /Tutoriels/Software_Development/Cpp/
RedirectPermanent /Tutoriels/C0/ /Tutoriels/Software_Development/C0/
RedirectPermanent /Tutoriels/C0/* /Tutoriels/Software_Development/C0/
RedirectPermanent /Tutoriels/CSharp/ /Tutoriels/Software_Development/CSharp/
RedirectPermanent /Tutoriels/CSharp/* /Tutoriels/Software_Development/CSharp/
RedirectPermanent /Tutoriels/Go/ /Tutoriels/Software_Development/Go/
RedirectPermanent /Tutoriels/Go/* /Tutoriels/Software_Development/Go/
RedirectPermanent /Tutoriels/Software_Development/Go/Qt/Window/ /Tutoriels/Software_Development/Go/
#================================================
