#================================================
<IfModule mod_rewrite.c>
RewriteEngine on
#================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ ?pageid=$1 [L,QSA]
#================================================
</IfModule>
#================================================
php_value memory_limit 30M
php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_execution_time 200
php_value max_input_time 200
#================================================
