/*===============================================*/
/* Common Style */
/*===============================================*/

QWidget {
    font-family: arial;
    font-size: 14px;
    color: white;
    background-color: transparent;
    border: none;
}

/*===============================================*/
/* Global Style */
/*===============================================*/


/*===============================================*/
/* Custom Style */
/*===============================================*/

GWindow {
    background-color: #051039;
}

/*===============================================*/
