/*===============================================*/
/* Common Style */
/*===============================================*/

/* QWidget */
QWidget {
    font-family: arial;
    font-size: 14px;
    color: white;
    background-color: transparent;
    border: none;
}

/*===============================================*/
/* Global Style */
/*===============================================*/

/* QPushButton */
QPushButton {
    background: rgba(255,255,255,0.2);
    padding: 6px;
}

QPushButton:hover {
    background: rgba(255,255,255,0.3);
    text-decoration: underline;
}

QPushButton:pressed {
    background: rgba(255,255,255,0.2);
    font-size: 12px;
}

/*===============================================*/
/* Custom Style */
/*===============================================*/

/* background-color */
GWindow,
GPushButton {
    background-color: #051039;
}

/*===============================================*/
