/* ============================================== */
/* common */
/* ============================================== */
*:focus {
    outline: none;
    background-color: transparent;
}
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
	background-color: #111111;
    color: white;
    font-family: arial;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
a {
    color: white;
    text-decoration: none;
}
button {
    background-color: transparent;
	border: 2px solid #aaaaff;
    color: white;
    font-family: arial;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
button:active {
    background-color: transparent;
}
input {
    background-color: transparent;
	border: 2px solid #aaaaff;
    color: white;
    font-family: arial;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #111111 inset !important;
    -webkit-text-fill-color: white !important;
    background-color: #111111 !important;
    background-clip: content-box !important;    
    font-family: arial;
    font-size: 16px;
}
* {
	scrollbar-color: #aaaaff #111111;
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
  	width: 5px;
  	height: 5px;
}
::-webkit-scrollbar-track {
  	background: transparent; 
}
::-webkit-scrollbar-thumb:horizontal {
  	background: #aaaaff; 
	border-left: 2px solid #111111;
	border-right: 2px solid #111111;
}
::-webkit-scrollbar-thumb:vertical {
  	background: #aaaaff; 
	border-top: 2px solid #111111;
	border-bottom: 2px solid #111111;
}
::-webkit-scrollbar-thumb:hover {
  	background: #aaaaff; 
}
::-webkit-scrollbar-button:horizontal {
	background: #aaaaff;
	width: 5px;
}
::-webkit-scrollbar-button:vertical {
	background: #aaaaff;
	height: 5px;
}
/* ============================================== */
/* custom */
/* ============================================== */
.border {
	border: 2px solid #aaffaa;
}
.button_float {
	background-color: transparent;
	position: relative;
	padding-left: 30px;
	margin: 0px 5px;
}
.button_form {
	position: relative;
	padding-left: 30px;
}
.button_close  {
    background-color: transparent;
	border: 2px solid #aaaaff;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.button_close:hover  {
    background-color: rgba(255, 255, 255, 0.3);
}
.button_close:active  {
    background-color: transparent;
}
.button_close_fa {
    background-color: transparent;
    color: #aaaaff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box {
	background-color: #111111;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
    padding: 50px 10px 50px 10px;
    overflow: auto;
}
.box_bottom {
    border-bottom: 2px solid #aaaaff;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;    
}
.box_body {
	background-color: transparent;
	border: 2px solid #aaaaff;
    padding: 40px 20px 40px 20px;
    border-radius: 5px;
    max-width: 400px;
    min-height: 10px;
    margin: auto;
    position: relative;
}
.form_button {
	background-color: transparent;
	display: inline;
	margin: 0px 5px;
}
.icon_float {
	position: absolute;
	top: 50%;
	left: 10px;
    transform: translate(0, -50%);
}
.input {
	display: block;
	width: 100%; 
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.input_float {
	display: block;
	width: 100%;
	padding-left: 30px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.label {
	display: block;
	margin: 20px 0px 5px 0px;
}
.link {
	color: #aaaaff;
}
.none {
	display: none;
}
.overflow {
	overflow: scroll;
}
.padding {
	padding: 10px;
}
.row {
	margin-top: 20px;
}
.row_right {
	margin-top: 20px;
	text-align: right;
}
.row_center {
	margin-top: 20px;
	text-align: center;
}
.row_float {
	position: relative;
}
.row_line {
	margin-top: 40px;
	text-align: center;
	color: #aaaaff;
}
.row_line_courier {
	margin-top: 40px;
	text-align: center;
	color: #aaaaff;
	font-family: courier;
	text-align: left;
	font-size: 16px;
}
.row_line_courier_over {
	margin-top: 40px;
	text-align: center;
	color: #aaaaff;
	font-family: courier;
	text-align: left;
	font-size: 16px;
	overflow: auto;
    white-space: nowrap;
    padding: 10px 0px;                                                                                                                 
}
.title_hr {
	border: 1px solid #aaaaff;
}
.title_hr_margin {
	border: 1px solid #aaaaff;
	margin-bottom: 40px;
}
.title_text {
	color: #aaaaff;
	position: absolute;
	top: 15px;
	left: 20px;
	right: 45px;
	text-align: center;
}
.title_hr_text {
	color: #aaaaff;
	text-align: center;
	padding: 10px;
	border-bottom: 2px solid #aaaaff;
	margin-bottom: 20px;
}
/* ============================================== */
/* xdebug */
/* ============================================== */
.xdebug-error {
	color: #111111;
	font-size: 16px;
	overflow: auto;
	max-height: 400px;
}
.xdebug-error thead, 
.xdebug-error tbody { 
	display: block; 
}
.xdebug-error tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* ============================================== */
/* Responsive Web Design */ 
/* ============================================== */
.RwdC01 {width: 4.16%;}
.RwdC02 {width: 8.33%;}
.RwdC03 {width: 12.5%;}
.RwdC04 {width: 16.66%;}
.RwdC05 {width: 20.83%;}
.RwdC06 {width: 25%;}
.RwdC07 {width: 29.16%;}
.RwdC08 {width: 33.33%;}
.RwdC09 {width: 37.5%;}
.RwdC10 {width: 41.66%;}
.RwdC11 {width: 45.83%;}
.RwdC12 {width: 50%;}
.RwdC13 {width: 54.16%;}
.RwdC14 {width: 58.33%;}
.RwdC15 {width: 62.5%;}
.RwdC16 {width: 66.66%;}
.RwdC17 {width: 70.83%;}
.RwdC18 {width: 75%;}
.RwdC19 {width: 79.16%;}
.RwdC20 {width: 83.33%;}
.RwdC21 {width: 87.5%;}
.RwdC22 {width: 91.66%;}
.RwdC23 {width: 95.83%;}
.RwdC24 {width: 100%;}
/* ---------------------------------------------- */
[class*="RwdC"] {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 5px;
}
/* ============================================== */
@media (max-width:1024px) {

}
/* ---------------------------------------------- */
@media (max-width:960px) {

}
/* ---------------------------------------------- */
@media (max-width:750px) {

}
/* ---------------------------------------------- */
@media (max-width:640px) {  

}
/* ---------------------------------------------- */
@media (max-width:550px) {
 
}
/* ---------------------------------------------- */
@media (max-width:520px) {

}
/* ---------------------------------------------- */
@media (max-width:420px) {

}
/* ---------------------------------------------- */
@media (max-width:350px) {

}
/* ---------------------------------------------- */
@media (max-width:320px) {

}
/* ============================================== */
