/* ============================================== */
body {
    background-color: #222222;
    color: white;
    font-family: arial;
    font-size: 16px;
}
/* ============================================== */
button {
    background-color: #2e4053;
    color: white;
    font-family: arial;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
/* ============================================== */
button:hover {
    background-color: gray;
}
/* ============================================== */
button:active {
    background-color: #2e4053;
}
/* ============================================== */
.body_page {
    position: relative;
    background-color: transparent;
    padding: 80px 0px 30px 0px;   
    max-width: 600px;
    margin: auto;
}
/* ============================================== */
.app_name {
    background-color: #c0392b;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 0px;
    color: white;
    font-family: allan;
    font-size: 16px;
    text-decoration: none;
}
/* ============================================== */
.app_title {
    background-color: transparent;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    color: white;
    font-family: arial;
    font-size: 20px;
    text-align: center;
}
/* ============================================== */
.app_ref {
    background-color: #c0392b;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 0px;
    color: white;
    font-family: allan;
    font-size: 16px;
    text-decoration: none;
}
/* ============================================== */
.phone_body {
    position: relative;
    background-color: #2e4053;
    padding: 10px;   
    padding-bottom: 30px;   
    border-radius: 10px;
    min-height: 500px;
    font-size: 0px;
    text-align: center;
}
/* ============================================== */
.phone_slide {
    background-color: transparent;
}
/* ============================================== */
.phone_box {
    position: relative;
    background-color: #4d5656;
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
/* ============================================== */
.phone_box_icon {
    background-color: #2e4053;
    border: 2px solid #2e4053;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    font-size: 80px;
    padding-top: 5px;
    border-radius: 50%;
}
/* ============================================== */
.phone_box:hover .phone_box_icon {
    background-color: #4d5656;
    border: 2px solid #2e4053;
}
/* ============================================== */
.phone_box_title {
    background-color: transparent;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100%;
    height: 20px;
}
/* ============================================== */
.phone_slide_prev {
    background-color: transparent;
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 24px;
    color: #85929e;
    cursor: pointer;
}
/* ============================================== */
.phone_slide_next {
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 24px;
    color: #85929e;
    cursor: pointer;
}
/* ============================================== */
.phone_slide_bar {
    background-color: transparent;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0%;
    font-size: 16px;
}
/* ============================================== */
.phone_slide_bar_dot {
    background-color: transparent;
    border: 2px solid #85929e;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
/* ============================================== */
.phone_slide_bar_dot.active {
    background-color: #85929e;
}
/* ============================================== */
.phone_slide_bar_dot:hover {
    background-color: #85929e;
}
/* ============================================== */
