/* ============================================== */
/* Global */ 
/* ============================================== */

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus { 
    border: none;
    outline: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #051039;
    font-family: arial;
    font-size: 16px;
    padding: 10px;
}

/* ============================================== */
/* Custom */ 
/* ============================================== */

.Code {
    overflow: auto;
    position: relative;
    display: block;
    min-width: 500px;
    min-height: 500px;
}

.Code2 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 14px;
}

.Field {
    margin-left: 150px;
    padding: 5px 10px;
}

.Label {
    background-color: rgba(255, 255, 255, 0.2);
    min-width: 150px;
    float: left;
    padding: 5px 10px;
}

.MainPage  {
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    padding: 10px;
    text-align: left;
    max-width: 1000px;
}

.Result {
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.Row {
    background-color: rgba(255, 255, 255, 0.2);
}

.Row:not(:last-child) {
    margin-bottom: 5px;
}

.Title  {
    color: lime;
}

.Title2  {
    color: #f67b20;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* ============================================== */
